.popup {
  display: grid;
  place-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

.search {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: calc(250px - 2em);
  border: none;
  border-radius: 0.75rem;
  margin-bottom: 1em;
}

.search:hover {
  background-color: #fafafa;
}

.search:focus {
  outline: none;
  box-shadow: 0 0 2px #0036e7;
}

.submit {
  color: white;
  font-weight: 600;
  background-color: #003CFE;
  width: 250px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: none;
  border-radius: 0.75em;
  margin-bottom: 1em;
}

.submit:hover {
  background-color: #0036e7;
}

hr {
  height: 0.1px;
  width: 90%;
  background-color: #AFAFAF;
}

.answer {
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: calc(250px - 2em);
  min-height: 5em;
  margin-top: 1em;
  border-radius: 0.75em;
}