.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.logo {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  margin-left: 2em;
  margin-right: 1em;
}

.help-button {
  text-decoration: none;
  color: #b3b3b3;
  cursor: pointer;
  font-size: 1.6em;
  font-weight: 600;
  margin-right: 1.5em;
}

.help-button:hover {
  color: #939393;
}

.header-text {
  font-size: 1em;
  line-height: 1em;
}

.button-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  color: #b3b3b3;
}

.button {
  background-color: white;
  width: 150px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: none;
}

.button-active {
  font-weight: 600;
  border-bottom: 2px solid #0ed85b;
}

.button-inactive:hover {
  background-color: #fafafa;
}


.popup-content {
  display: grid;
  place-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
}

.search {
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: calc(250px - 1em);
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1em;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.search:hover {
  background-color: #fafafa;
}

.search:focus {
  outline: none;
  box-shadow: 0 0 2px #0ed85b;
}

.submit {
  color: #0ed85b;
  font-weight: 600;
  background-color: white;
  width: 263px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 2px solid #0ed85b;
  border-radius: 999px;
  margin-bottom: 1em;
}

.submit:hover {
  background-color: #fafafa;
  cursor: pointer;
}


hr {
  height: 0.1px;
  width: 90%;
  background-color: #AFAFAF;
  margin-bottom: 1em;
}


.answer {
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: calc(250px - 1em);
  margin-top: 0em;
  border-radius: 0.5em;
}

.confidence {
  color: #808080;
  font-weight: 600;
}


.textarea {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  border: none;
  resize: none;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.textarea:hover {
  background-color: #fafafa;
}

.textarea:focus {
  outline: none;
  box-shadow: 0 0 2px #0ed85b;
}

::placeholder {
  color: #0ed85b;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #0ed85b;
}

::-ms-input-placeholder {
  color: #0ed85b;
}